.Search {
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 400px;
  margin-right: 30px;

  &_Btn {
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  }
}
